@import '../../common/variable';

.progress-bar {
  display: block;
  position: relative;
  margin-top: $spacing-unit;

  &--line,
  &--fullline {
    height: 6px;
    border-radius: 3px;
  }

  &--line {
    position: absolute;
    z-index: 1;
    background-color: $secondary-color;
    transition: width $transition-duration-short $transition-ease-in-out;
  }

  &--fullline {
    width: 100%;
    background-color: $grey-300;
  }
}
