@import '../../common/variable';

.button {
  padding: $spacing-unit $spacing-unit * 2;
  font-size: $body-font-size;
  font-weight: 500;
  box-sizing: border-box;
  min-height: 36px;
  min-width: 88px;
  border-radius: $spacing-unit / 2;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: $primary-color;
  transition: box-shadow $transition-duration-short $transition-ease-in-out;
  &:hover {
    color: $primary-color-dark;
  }
  &:focus {
    outline: none;
    box-shadow: $box-shadow-3;
  }
  &:active {
    box-shadow: $box-shadow-6;
  }
  &.primary {
    background-color: $primary-color;
    color: $primary-color-contrast-text;
    &:hover {
      background-color: $primary-color-dark;
    }
  }
  &.bordered {
    border: 1px solid currentColor;
  }
  &.rounded {
    border-radius: 3 * $spacing-unit;
  }

  &.disabled,
  &[disabled],
  &:disabled {
    box-shadow: $box-shadow-0;
    background: $disabled-background;
    color: $disabled-color;
    cursor: not-allowed;
    pointer-events: none;
  }
}
