@import '../../common/variable';

.wizard-form {
  max-width: 960px;
  margin: 0 auto;
  &--header {
    text-align: center;
    color: $title-color;
    margin: 0 0 $spacing-unit * 2;
    padding: $spacing-unit 0;
  }

  &--question,
  &--summary {
    margin: $spacing-unit * 2 0;
    padding: $spacing-unit * 2;
    text-align: center;
  }

  &--question-label {
    display: inline-block;
    font-size: $title-font-size;
    color: $primary-color;
    margin-bottom: $spacing-unit * 2;
  }

  &--question-required {
    margin-bottom: $spacing-unit * 2;
    color: $caption-color;
  }

  &--question-image {
    max-width: 100%;
  }

  &--question-option {
    display: block;
    margin: $spacing-unit * 2 auto;
  }

  &--summary-item {
    margin: $spacing-unit 0;
  }

  &--summary-answer {
    font-size: $title-font-size;
    line-height: 1.5;
  }

  &--footer {
    padding: $spacing-unit $spacing-unit * 2;
    border-top: 1px solid $grey-300;
    display: flex;
  }

  &--footer-filler {
    flex: 1;
  }
}
