@import '../../common/variable';

.file-input {
  position: relative;
  display: inline-block;
  &--input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
    cursor: pointer;
    z-index: -1;
  }

  &--input:focus + &--button {
    box-shadow: $box-shadow-3;
  }
}
