@import '../../common/variable';

.text-input {
  display: block;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 6px 6px 7px;
  line-height: 1.5;
  outline: none;
  box-sizing: border-box;
  border: 1px solid $grey-300;
  border-radius: 4px;
  font-size: $subheading-font-size;

  &:focus {
    border: 1px solid $secondary-color;
  }
}
