@import './common/variable';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: $primary-color-dark;
}

body {
  min-height: 100vh;
  position: relative;
  background: #fff;
  font-family: $font-family;
}

// helper

.invisible {
  visibility: hidden;
}
