$spacing_unit: 8px;

/*
** COLOR / PALETTE
*/
// primary color
$primary-color: #e3193a;
$primary-color-dark: #c31532;
$primary-color-contrast-text: #fff;
$secondary-color: #3498db;
$error-color: #e3193a;

// grey
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;

// background
$disabled-background: rgba(0, 0, 0, 0.12);
$error-background: #fad7d4;

/*
** SHADOW
*/
$box-shadow-0: none;
$box-shadow-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 2px 1px -1px rgba(0, 0, 0, 0.12);
$box-shadow-2: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 3px 1px -2px rgba(0, 0, 0, 0.12);
$box-shadow-3: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  0px 3px 3px -2px rgba(0, 0, 0, 0.12);
$box-shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$box-shadow-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
  0px 1px 14px 0px rgba(0, 0, 0, 0.12);
$box-shadow-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
$box-shadow-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14),
  0px 2px 16px 1px rgba(0, 0, 0, 0.12);
$box-shadow-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
$box-shadow-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14),
  0px 4px 18px 3px rgba(0, 0, 0, 0.12);
$box-shadow-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
  0px 6px 30px 5px rgba(0, 0, 0, 0.12);

/*
** TRANSITIONS
*/
$transition-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
$transition-ease-out: cubic-bezier(0, 0, 0.2, 1);
$transition-ease-in: cubic-bezier(0.4, 0, 1, 1);
$transition-sharp: cubic-bezier(0.4, 0, 0.6, 1);

$transition-duration-short: 200ms;
$transition-duration-standard: 300ms;
$transition-duration-long: 375ms;

/*
** TYPOGRAPHY
*/
$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-size: 14px;
$title-font-size: 1.3125rem;
$title-color: rgba(0, 0, 0, 0.87);
$subheading-font-size: 1rem;
$subheading-color: rgba(0, 0, 0, 0.87);
$body-font-size: 0.875rem;
$body-color: rgba(0, 0, 0, 0.87);
$caption-font-size: 0.75rem;
$caption-color: rgba(0, 0, 0, 0.54);
$disabled-color: rgba(0, 0, 0, 0.26);
